body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
}

section {
  flex: 1 1 auto; /* auto fill height to push sticky to bottom */
  display: block;
  max-width: min(100%, 800px);
  margin: 0px auto;
  padding: 1rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

#list > h2 {
  margin-top: 1rem;
}

/* LIST ITEMS */
.link-container a {
  display: flex;
  padding: 0.125rem;
  color: #000;
  transition: background-color 200ms;
}

.link-container a:hover {
  background-color: #abdafb;
  transition: background-color 0ms;
}

.link-container a > i {
  font-style: normal;
}

#list > a > i:nth-child(1) {   /* index */
  padding-right: 0.5rem;
}

.link-container a > i:nth-child(2) { /* title */
  flex: 1 1 auto;
  font-size: 14px;
}

#searchResults a {
  padding-top: 0.5rem;
}

#searchResults > div > div {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #212121;
}

*[data-tooltip] {
  position: relative;
}

*[data-tooltip]::after {
  opacity: 0;
  content: attr(data-tooltip);
  position: absolute;
  z-index: 100;
  top: 110%;
  left: 1rem;
  touch-action: none;
  pointer-events: none;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid;
  border-color: #333334 #2e2e2f #2e2e2f #333334;
  background-color: #333;
  box-shadow: 2px 3px 6px 1px rgb(40 37 43 / 50%);
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  right: -1rem;
}

*[data-tooltip]:hover::after {
  opacity: 0.98;
}

footer {
  z-index: 50;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: rgba(230, 230, 230, 0.96);
}

footer > * {
  cursor: pointer;
  padding: 0.5rem;
}

footer > input {
  border: none;
  width: 60px;
  padding: 0.125rem 0px 0.125rem 0.3rem;
}

/* Chrome fix */
footer > #index::-webkit-inner-spin-button,
footer > #index::-webkit-outer-spin-button {
   opacity: 1;
}

footer > div {
  text-decoration: underline;
}

/* footer > #search,
footer > #search-icon {
  display: none;
} */

footer > #search {
  width: 200px;
  margin-left: 1rem;
}

footer > #search-icon {
  transform: translateX(-2rem);
}
